/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #ffffff;
    --sidebar-color: rgb(8, 3, 56);
    --primary-color: #1f186d;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--body-color);
    /* transition: var(--tran-05); */
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar1{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.titrehead
{
    background: var(--sidebar-color);
}

.sidebar1.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar1 li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar1 header .image,
.sidebar1 .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar1 .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar1 .text,
.sidebar1 .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar1.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar1 header{
    position: relative;
}

.sidebar1 header .image-text{
    display: flex;
    align-items: center;
}
.sidebar1 header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name1 {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar1 header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar1 header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar1 header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar1.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar1 .menu1{
    margin-top: 40px;
}

.sidebar1 li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar1 li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar1 li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar1 li a:hover{
    background-color: var(--primary-color);
}

.active1 {
    background-color: var(--primary-color);
}
.sidebar1 li a:hover .icon,
.sidebar1 li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar1 li a:hover .icon,
body.dark .sidebar1 li a:hover .text{
    color: var(--text-color);
}

.sidebar1 .menu-bar1{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar1::-webkit-scrollbar{
    display: none;
}
.sidebar1 .menu-bar1 .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar1 .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar1 .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    left: 250px;
    /* height: 100vh; */
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar1.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

/* By RasKal */
.btn-inline {
    display: flex;
    gap: 10px;
}

/* ======================= Cards ====================== */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 55px;
  }

  .cardBox .card1 {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }

  .cardBox .card1 .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
  }

  .cardBox .card1 .cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
  }

  .cardBox .card1 .iconBx {
    font-size: 3.5rem;
    color: var(--black2);
  }

  .cardBox .card1:hover {
    background: var(--blue);
  }
  .cardBox .card1:hover .numbers,
  .cardBox .card1:hover .cardName,
  .cardBox .card1:hover .iconBx {
    color: var(--white);
  }

  /* ================== Form Update ============== */

  #inputText,
  button {
    /* font-family: "Montserrat", sans-serif; */
    /* letter-spacing: -0.2px; */
    font-size: 16px;
  }

  .formupdateuser {
    padding: 16px;
    width: 720px;
    margin: 0 auto;
  }

  .inputName,
  .inputEmail,
  .redSubmit,
  .blueSubmit {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 20px;
    padding: 16px;
    background-color: #f1f1f1;
    text-shadow: 1px 1px 0 #FFF;
  }

  .labelName,
  .labelEmail {
    display: block;
    margin-bottom: 24px;
    width: 100%;
  }

  .inputName,
  .inputEmail {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }

  #inputText:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }

  .redSubmit:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }

  .redSubmit:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }

  button.redSubmit {
    display: block;
    width: 155px;
    color: #AE1100;
  }

  .btnsub {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    /* color: #000000; */
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    /* background: #03e8f400; */
    border: none;
    background: #ff0000;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000,
        0 0 25px #ff0000,
        0 0 50px #ff0000,
        0 0 100px #ff0000;
  }


/* ================== Order Details List ============== */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
  }

  .btndeleteuser {
    padding: 10px 18px;
    background: #f40303;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: 2s;
  }

  .details1 {
    margin-top: 55px;
    position: relative;
    width: 75%;
    padding: 20px;
    display: grid;
    align-items: center;
    /* grid-template-columns: 2fr 1fr;
    grid-gap: 30px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
  }

  .details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }

  .details1 .recentOrders {
    position: relative;
    display: grid;
    min-height: 350px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }

  .details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }


  .details1 .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
  }

  .cardHeader .btn1 {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }

  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .details table thead td {
    font-weight: 600;
  }
  .details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details .recentOrders table tr:last-child {
    border-bottom: none;
  }
  .details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  .details .recentOrders table tr td {
    padding: 10px;
  }
  .details .recentOrders table tr td:last-child {
    text-align: end;
  }
  .details .recentOrders table tr td:nth-child(2) {
    text-align: end;
  }
  .details .recentOrders table tr td:nth-child(3) {
    text-align: center;
  }

  .blueSubmit:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }

.blueSubmit:active1 {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }

button.blueSubmit {
    display: block;
    width: 155px;
    color: #002eae;
  }

  .status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
